<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cats are coming for you</h1>
    <p>
      Cats are en route, you can view them at : <%= @url %>.<br/>
    </p>
    <p>Thanks for taking the cats off our hands.</p>
  </body>
</html>